* {
    box-sizing: border-box;
}

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #6D214F;
    height: 100vh;
    margin: 0;
}

h1 {
    color: white;
    font-size: 46px;
}

.cartao {
    background-color: #B33771;
    padding: 24px;
    min-width: 300px;
    border-radius: 24px;
}
.cartao .grupo-input{
    margin-top: 8px;
}

.cartao input{
    width: 100%;
    padding: 4px;
    margin-top: 4px;
    border-radius: 4px;
    border: solid 1px #D6A2E8;
}
.cartao button{
    background-color:#D6A2E8;
    border: none;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
}
h2 {
    margin-bottom: 0;
}