/* Reset global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./lobo.jpg) no-repeat center/cover;
  height: 100vh;
}

/* Container principal */
.container {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px #000000;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

/* Títulos */
h1, h2 {
  color: white;
  text-align: center;
}

h1 {
  font-size: 46px;
}

h2 {
  margin-bottom: 0;
}

/* Botões */
.but, .cartao button {
  background-color: #248ade;
  height: 45px;
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
  font-size: 16px;
  margin-top: 8px;
  border-radius: 40px;
  box-shadow: 0 0 10px #000000;
  cursor: pointer;
  color: #fff;
}

/* Inputs e Seletores */
.grupo-input {
  margin-top: 8px;
}

.grupo-input .selcao, .cartao input {
  width: 100%;
  padding: 4px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #248ade;
}

/* Layout de inputs e seletores */
.dois, .total-equipe {
  display: flex;
  gap: 10px;
  align-items: center;
}



.dois select, .total-equipes input {
  max-width: 72px;
  max-height: 24px;
  font-size: 12px;
}

.total-equipes input {
  max-width: 40px;
  max-height: 20px;
}

/* Seção de participantes */
.mostrar {
  flex-wrap: wrap;
  gap: 10px;
}

.mostrar .equipe {
  width: 100%;
  padding: 4px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #248ade;
}

/* Cartão */
.cartao {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Resultados */
.resultados {
  width: 100%;
  padding: 4px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #248ade;
  text-align: center;
}

.resultados .resultados-chaves {
  display: flex;
  justify-content: center;
  max-width: 420px;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #248ade;
}

.resultados .resultados-chaves .lista {
  display: inline-block;
  min-width: 150px;
  width: auto;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #248ade;
  text-align: center;
  white-space: nowrap;
}

.lista p {
  white-space: pre-line;
  display: flex;
  justify-content: center;
  max-width: 420px;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}
